/*.page-header{
  background-color: blue;
  text-align: center;
  padding: 5px;
}
.searchParameters, .topArticles{
  border-style: solid;
  color: black;
}*/

.jumbotron{
	background-color: #07074a;
	color: white;
	text-align: center;
}
.panel-default>.panel-heading{
	background-color: #07074a;
	color: white;

}
.btn-default{
	background-color: grey;
	color: white;

}
.btn-default{
	margin-top: 10px;
}
