.jumbotron {
    background-color: #07074a;
    color: #fff;
    text-align: center;
}

.panel-default>.panel-heading {
    background-color: #07074a;
    color: #fff;
}

.btn-default {
    background-color: grey;
    color: #fff;
}

.btn-default {
    margin-top: 10px;
}

h1 {
    color: #07074a;
}

p {
    margin: 5px;
}
/*line 30 css-.headlines was the name of the class that would be added to the divs created by jQuery, so they can be styled. Doesnt have to be named headlines
/*line 35 css-h3 sizing is closer to class display than h1
/*.headlines{   
	background-color: #e1eae1;
	margin: 10px;
	padding:10px;
}
h3{  
	color: #07074a;
}*/