.jumbotron {
    background-color: #07074a;
    color: #fff;
    text-align: center;
}

.panel-default>.panel-heading {
    background-color: #07074a;
    color: #fff;
}

.btn-default {
    background-color: grey;
    color: #fff;
}

.btn-default {
    margin-top: 10px;
}

h1 {
    color: #07074a;
}

p {
    margin: 5px;
}

/*.headlines{   gave div class of headlines--commented out incase you want to use it
	background-color: #e1eae1;
	margin: 10px;
	padding:10px;
}
h3{  gave h3 same color blue as the rest of themese-commented out incase you want to use it
	color: #07074a;
}*/